@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: $desctop160px;
    padding: $desctop25px $desctop178px $desctop25px 0;
    border-bottom: $desctop1px solid rgba(0, 0, 0, 0.08);

    @media only screen and (max-width: 499px) {
        margin-left: $mobile10px;
        padding: $mobile10px $mobile10px $mobile10px 0;
    }

    &__logo img {
        width: $desctop120px;
        height: $desctop60px;

        @media only screen and (max-width: 499px) {
            width: 25vw;
            height: 14vw;
        }
    }

    &__socialIconsWrapper {
        display: flex;
        align-items: center;
        height: fit-content;
        position: relative;
        z-index: 1;

        &_item img {
            margin-right: $desctop25px;
            width: $desctop14px;
            height: $desctop14px;
            display: flex;

            @media only screen and (max-width: 499px) {
                width: 4vw;
                height: 4vw;
                margin-right: 6vw;
            }
        }
    }
}
