@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.howItWorks {
    position: relative;
    margin-bottom: 22vw;

    &__title {
        font-family: $CeraProMedium;
        font-size: $desctop34px;
        line-height: $desctop55px;
        color: #000;
        text-align: center;
        padding: $desctop68px 0 $desctop40px 0;
    }

    &__subTitle {
        font-family: $CeraProMedium;
        font-size: $desctop22px;
        line-height: $desctop32px;
        color: #C8073A;
        text-align: center;
    }

    &__basicPrinciplesWrapper {
        margin: $desctop90px $desctop160px;
        display: flex;
        justify-content: space-between;
    }

    &__basicPrinciples {
        width: 19.6vw;

        &_rectangle {
            background: #DA2756;
            box-shadow: 0px $desctop8px $desctop34px rgba(9, 10, 12, 0.0661604);
            border-radius: $desctop4px;
            width: $desctop25px;
            height: $desctop25px;
            margin: 0 auto;
        }

        &_title {
            font-family: $CeraProMedium;
            font-size: $desctop20px;
            line-height: $desctop24px;
            text-align: center;
            color: #2F281E;
            margin: $desctop30px 0 $desctop10px;
            height: $desctop68px;
        }

        &_subTitle {
            font-family: $CeraProLight;
            font-size: $desctop12px;
            line-height: $desctop20px;
            text-align: center;
            color: #5C5040;
        }
    }

    &__principleOperation {
        margin: 0 $desctop160px;

        &_title {
            font-family: $CeraProMedium;
            text-align: center;
            font-size: $desctop22px;
            line-height: $desctop32px;
            color: #C8073A;
            margin-bottom: $desctop32px;
        }

        &_subTitle {
            font-family: $CeraProLight;
            font-size: $desctop16px;
            line-height: $desctop30px;
            text-align: center;
            color: #000;
        }
    }

    &__background {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100vw;
        height: 71.7vw;
    }
}
