@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.whatsThis {
    margin: 0 $desctop160px $desctop160px $desctop160px;

    @media only screen and (max-width: 499px) {
        margin: 0 $mobile12px $mobile42px;
    }

    &__title {
        font-family: $CeraProMedium;
        font-size: $desctop34px;
        line-height: $desctop55px;
        color: #000;
        text-align: center;
        margin-bottom: $desctop32px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile20px;
            line-height: $mobile32px;
            margin-bottom: $mobile34px;
        }
    }

    &__subTitle {
        font-family: $CeraProLight;
        font-size: $desctop16px;
        line-height: $desctop30px;
        text-align: center;
        color: #000;
        margin-bottom: $desctop32px;

        @media only screen and (max-width: 499px) {
            font-size: 4vw;
            line-height: 6vw;
            margin-bottom: 8vw;
        }
    }
}
