@import '../../assets/styles/variables';

.footer {
    background: #DA2756;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $desctop20px $desctop178px;

    @media only screen and (max-width: 499px) {
        padding: $mobile20px $mobile12px;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;

    }

    &__logo img {
        width: $desctop120px;
        height: $desctop60px;

        @media only screen and (max-width: 499px) {
            width: 25vw;
            height: 14vw;
        }
    }

    &__socialIconsWrapper {
        display: flex;
        align-items: center;
        height: fit-content;
        position: relative;
        z-index: 1;

        &_item img {
            margin-right: $desctop25px;
            width: $desctop14px;
            height: $desctop14px;
            display: flex;

            @media only screen and (max-width: 499px) {
                width: 4vw;
                height: 4vw;
                margin-right: 6vw;
            }
        }
    }
}
