@font-face {
    font-family: 'Cera Pro Black';
    src: local('Cera Pro Black'), local('Cera Pro Black'), url('../fonts/Cera Pro Black.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Black Italic';
    src: local('Cera Pro Black Italic'), local('Cera Pro Black Italic'), url('../fonts/Cera Pro Black Italic.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: local('Cera Pro Bold'), local('Cera Pro Bold'), url('../fonts/Cera Pro Bold.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Light';
    src: local('Cera Pro Light'), local('Cera Pro Light'), url('../fonts/Cera Pro Light.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: local('Cera Pro Medium'), local('Cera Pro Medium'), url('../fonts/Cera Pro Medium.otf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro Regular Italic';
    src: local('Cera Pro Regular Italic'), local('Cera Pro Regular Italic'), url('../fonts/Cera Pro Regular Italic.otf') format('truetype');
    font-style: normal;
}
